In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import docx

In [2]:
df=pd.read_csv("Birthweight_reduced_kg_R.csv")
df.describe()

# mppwt= Mothers pre-pregnancy weight (kg)
# Birthweight = Weight of baby at time of birth(kg)
# Gestation = Gestation (weeks)
# mheight = Mothers height (cm)
# Length = Length of baby (cm)

,ID,Length,Birthweight,Headcirc,Gestation,smoker,mage,mnocig,mheight,mppwt,fage,fedyrs,fnocig,fheight,lowbwt,mage35
count,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000,42.000000
mean,894.071429,51.333333,3.312857,34.595238,39.190476,0.523810,25.547619,9.428571,164.452381,57.500000,28.904762,13.666667,17.190476,180.500000,0.142857,0.095238
std,467.616186,2.935624,0.603895,2.399792,2.643336,0.505487,5.666342,12.511737,6.504041,7.198408,6.863866,2.160247,17.308165,6.978189,0.354169,0.297102
min,27.000000,43.000000,1.920000,30.000000,33.000000,0.000000,18.000000,0.000000,149.000000,45.000000,19.000000,10.000000,0.000000,169.000000,0.000000,0.000000
25%,537.250000,50.000000,2.940000,33.000000,38.000000,0.000000,20.250000,0.000000,161.000000,52.250000,23.000000,12.000000,0.000000,175.250000,0.000000,0.000000
50%,821.000000,52.000000,3.295000,34.000000,39.500000,1.000000,24.000000,4.500000,164.500000,57.000000,29.500000,14.000000,18.500000,180.500000,0.000000,0.000000
75%,1269.500000,53.000000,3.647500,36.000000,41.000000,1.000000,29.000000,15.750000,169.500000,62.000000,32.000000,16.000000,25.000000,184.750000,0.000000,0.000000
max,1764.000000,58.000000,4.570000,39.000000,45.000000,1.000000,41.000000,50.000000,181.000000,78.000000,46.000000,16.000000,50.000000,200.000000,1.000000,1.000000

In [3]:
print("Relationship between mother’s prepregnancy weight and baby weight")
df[["Birthweight","mppwt"]].corr()

Relationship between mother’s prepregnancy weight and baby weight

             Birthweight     mppwt
Birthweight     1.000000  0.400886
mppwt           0.400886  1.000000

In [4]:
print("Relationship between maternal height and baby length")
df[["mheight","Length"]].corr()

Relationship between maternal height and baby length

          mheight    Length
mheight  1.000000  0.484992
Length   0.484992  1.000000

In [5]:
print("Relationship between gestation and baby weight.")
df[["Gestation","Birthweight"]].corr()

Relationship between gestation and baby weight.

             Gestation  Birthweight
Gestation     1.000000     0.708303
Birthweight   0.708303     1.000000